.Spelare_1{
    margin-left: 50px;
    padding: 0px;
    overflow: hidden !important;
}
.Spelare_2{
margin-right: 50px;
}
.dice{
    margin-top: 20px;
}
.checkbox{
    transform: scale(2.5);
    align-items: center;
}
.table td{
    font-size: 15px !important;
}
.section{
    margin: 20px;
    padding: 0px;
    max-width: 400px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hund1{
    padding-left: 700px;
}
.buttons {
    display: inline;
    display: flex;
    justify-content: center;
}
.buttun2{
    margin-top: 50px;
    margin-left: 20px;
}
.buttun3{
    margin-top: 50px;
    margin-left: 20px;
}
.regler{
    height: 400px;
    margin-left: 500px;
    margin-bottom: -500px;

}

  