.Spelare_1{
    margin-left: 40px;
}
.Spelare_2{
    margin-right: 70px;
}
.table td{
    font-size: 15px !important;
}
.section{
    margin: 20px;
    padding: 0px;
    max-width: 400px;
}
#Reset1{

}
.hund1{
    padding-left: 700px;
}
.hund2{

}