#Flex-container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

input[type=checkbox]{
    scale: 170%;
}

button{
    margin: 20%;
    width: 30%;
    height: 20%;
    background-color: rgb(69, 162, 165);
}

.dice{
    width: 130px;
    height: auto;
    display: inline-block;
    margin-top: 30px;
}

.checkbox{
    
}
